<!DOCTYPE html>
<html lang="en-gb">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog layout example - UIkit documentation</title>
    <script><%- prismjs %></script>
    <script><%- prismtoolbarminjs %></script>
    <script><%- prismcopytoclipboardminjs %></script>
    <script><%- uikitminjs %></script>
    <script><%- inviewminjs %></script>
    <style> <%-prismtoolbarcss %></style>
    <style><%- uikitmincss %></style>
    <style><%- prismcss %></style>
</head>

<script>
        inView.offset({
            top: 10
        });
    window.addEventListener('load', (event) => {
        const tarCaption = document.getElementById("tarCaption");
        inView('h1').on('exit', el => {
            // alert(el.innerText);
            tarCaption.innerText = el.innerText;
        });
    });
</script>
<style>
    [uk-navbar] {
        background-color: white !important;
    }
</style>

<body>
    <div class="uk-container uk-container-small">

        <nav class="uk-navbar-container uk-margin" uk-navbar uk-sticky>
            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>


                <ul class="uk-navbar-nav">
                    <li id="tarCaption">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                        Features
                    </li>
                </ul>
            </div>
        </nav>

        <div class="uk-grid" data-uk-grid-margin>

            <article class="uk-article">
                <%-content %>
            </article>

        </div>

    </div>
</body>

</html>