<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog layout example - UIkit documentation</title>
    <script><%- include('node_modules/prismjs/prism.js'); %></script>
    <script><%- include('node_modules/uikit/dist/js/uikit.min.js') %></script>
    <script><%- include('node_modules/in-view/dist/in-view.min.js') %></script>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/toolbar/prism-toolbar.min.css"
    integrity="sha512-DSAA0ziYwggOJ3QyWFZhIaU8bSwQLyfnyIrmShRLBdJMtiYKT7Ju35ujBCZ6ApK3HURt34p2xNo+KX9ebQNEPQ=="
    crossorigin="anonymous" />
    <style><%- include('node_modules/uikit/dist/css/uikit.my.uikit.min.css') %></style>
    <style><%- include('node_modules/prismjs/themes/prism.css') %></style>
</head>

<script>
    inView.offset({
        top: 10
    });
    window.addEventListener('load', (event) => {
        const tarCaption = document.getElementById("tarCaption");
        inView('h1').on('exit', el => {
            // alert(el.innerText);
            tarCaption.innerText = el.innerText;
        });
    });
</script>
<style>
    [uk-navbar] {
        background-color: white !important;
    }
</style>

<body>
    <div class="uk-container uk-container-small">

        <nav class="uk-navbar-container uk-margin" uk-navbar uk-sticky>
            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>


                <ul class="uk-navbar-nav">
                    <li id="tarCaption">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                        Features
                    </li>
                </ul>
            </div>
        </nav>

        <div class="uk-grid" data-uk-grid-margin>

            <article class="uk-article">
                <%-content %>
            </article>

        </div>

    </div>
</body>

</html>